
.notebookDashboardContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    justify-content: center;
}

.notebooksDashboard {
    display: flex;
    padding-top: 14vh;
    width: 85%;
    height: 100vh;
    margin: 0;

}

.notebookHolderContainer {
    width: 60%;
    height: 40vw;
    margin-left: 3%;
}

.notebookHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.notebookTitle {
    margin-top: 1%;
    padding-left: 5%;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    border-bottom: clamp(0.1rem, 0.1vw, 0.2rem) solid var(--text-main);
}

.emptyNotebookMessage {
    color: #757576;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    text-align: center;
    margin-top: 5vw;
    grid-column: 2;
}

.notebooksList {
    margin-top: 2vh;
    padding-top: 3.3%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5.0vw;
    height: 100%;
    overflow-y: scroll;
}


