
.notebookDashboardContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    justify-content: center;
}

.notebooksDashboard {
    display: flex;
    padding-top: 8vw;
    width: 85%;
    height: 100vh;
    margin: 0;

}

.notebookHolderContainer {
    width: 60%;
    height: 40vw;
    margin-left: 3%;
}

.notebookHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.notebookTitle {
    margin-top: 1%;
    padding-left: 5%;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    border-bottom: clamp(0.1rem, 0.1vw, 0.2rem) solid var(--text-main);
}

.emptyNotebookMessage {
    color: #757576;
    font-size: clamp(0.5rem, 1.5vw, 5rem);
    text-align: center;
    margin-top: 5vw;
    grid-column: 2;
}

.notebooksList {
    margin-top: 2vh;
    padding-top: 3.8%;
    padding-bottom: 3.8%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5.0vw;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: var(--bg-main) var(--bg-main);
}

.notebooksList::-webkit-scrollbar {
    width: 4px;
}

.notebooksList::-webkit-scrollbar-track {
    background: var(--bg-main);
}

.notebooksList::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
    border-radius: 20px;
    border: 10px solid var(--bg-main);
}

@media (max-width: 1024px) {
    .notebooksList {
        grid-template-columns: 1fr 1fr;
    }
    
    .notebookHolderContainer {
        width: 100%;
        height: 50vw;
    }

    .notebookTitle {
        font-size: clamp(0.5rem, 2vw, 5rem);
    }

    .emptyNotebookMessage {
        font-size: clamp(0.5rem, 2vw, 5rem);
    }

    .notebookDashboardContainer {
        height: 100vh;
    }

    .notebooksDashboard {
        padding-top: 0;
        height: 100vh;
        flex-direction: column;
    }
}