
.loginContainer{
    display: flex;
    height: 100vh;
    justify-content: space-between;
}


.loginSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 30vw;
    margin-left: 10vw;
    margin-top: clamp(5px, 12.0vw ,1000px);
}

.loginTitle{
    font-size: clamp(5px, 2.0vw ,50px);
    color: var(--text-main);
    text-align: center;
    margin-bottom: 2vh;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;
    background-color: var(--bg-main);
    gap: clamp(5px, 1.5vw, 40px);
}

.loginForm div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    
}

.loginForm div label {
    margin-top: 2vh;
    font-size: clamp(5px, 1.0vw ,30px);
    font-weight: 420;
    color: var(--text-main);
}

.loginForm div input {
    margin-top: 5px;
    height: clamp(5px, 1.8vw ,50px);
    color: var(--text-main);
    background-color: var(--bg-main);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    border: none;
    border-bottom: 2px solid var(--text-main);
    font-size: clamp(5px, 0.8vw ,30px);
    outline: none;
}

.loginForm div input:focus {
    border-bottom: 2px solid var(--bg-secondary);
    background-color: transparent;
}

.loginForm div input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--bg-main) inset !important;
    -webkit-text-fill-color: var(--text-main) !important;
}

.forgotPasswordText {
    font-size: clamp(5px, 0.7vw ,30px);
    color: var(--bg-secondary);
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.registerText{
    font-size: clamp(5px, 0.7vw ,30px);
    color: var(--text-main);
    text-align: center;
}

.linkToRegister{
    font-size: clamp(5px, 0.7vw ,30px);
    color: var(--bg-secondary);
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    width: 80%;
    border: none;
    border-radius: 45px;
    padding: 0.6em 1.5em;
    font-size: clamp(5px, 1.0vw ,30px);
    font-weight: bold;
    cursor: pointer;
    transition: all 100ms ease;
}

.loginButton:first-child{
    align-items: center;
}

.loginButton:hover {
    background-color: #003a8d;
    transform: scale(0.98);
}

.loginButton:disabled {
    background-color: #003a8d;
    cursor: not-allowed;
}

.bannerHolder{
    display: flex;
    width: 60vw;
    height: 100vh;
    margin-right: 0%;
    justify-content: center;
}

.banner{
    background-image: url("../../assets/authBanner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 37vw;
    height: 37vw;
    border-radius: clamp(5px, 1.0vw ,80px);
    margin-top: clamp(5px, 6.0vw ,1000px);
    box-shadow: 2px 12px 29px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: 2px 12px 29px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 2px 12px 29px 0px rgba(0,0,0,0.34);
}

.errorText{
    font-size: clamp(5px, 0.7vw ,30px);
    color: rgb(194, 90, 90);
    text-align: left;
}

.emailSentText{
    font-size: clamp(5px, 0.7vw ,30px);
    color: var(--bg-secondary);
    text-align: center;
}

.emailSentText:last-child{
    cursor: pointer;
}