
.flashcardContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    margin-top: -10.5vh;

    background: rgba(64, 64, 64, 0.8);
}