
.menuHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 5.5vw;
    right: 0;
}

.userSideTile {
    font-size: clamp(5px, 1.2vw, 20px);
    margin-top: -17%;
    padding: 4.5em 1em 1em 1em;
    border-radius: 30px;
    width: 100%;
    background-color: var(--bg-main);
    text-align: center;
    font-weight: 600;
    -webkit-box-shadow: 4px 24px 84px -11px rgba(0,0,0,0.12);
    -moz-box-shadow: 4px 24px 84px -11px rgba(0,0,0,0.12);
    box-shadow: 4px 24px 84px -11px rgba(0,0,0,0.30);
    cursor: pointer;
    transition: transform 500ms ease;
    animation: slide-in 400ms;
}

.userSideTile:nth-child(1) { /* community notebooks */
    margin-top: -0.8vh;
    padding-top: 1.7em;
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 10;
}

.userSideTile:nth-child(2) { /* your notebooks */
    z-index: 9;
    animation-duration: 500ms;
}

.userSideTile:nth-child(3) { /* account */
    z-index: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    animation-duration: 600ms;
}

.userSideTile:hover {
    transform: translateY(.3em);
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
