:root {

    --bg-main: rgb(255, 255, 255);
    --bg-secondary: #4886d6;

    --text-main: #000000;
    --text-secondary: #fff;

    --footer-bg: linear-gradient(135deg, #f5f7fa 0%, #e8ecf0 100%);
    --footer-text: #2c3e50;

    --logo-theme: url('/lightLogo.png');

    font-family: "Poppins", sans-serif;
    color: var(--text-main);
    overflow-x: hidden;

}

body {
    background-color: var(--bg-main);
    width: 100vw;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
